---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Emiliano Perez - About">
  <h1 class="font-bold text-4xl sm:text-5xl text-black dark:text-white">
    Sobre mi
  </h1>

  <div
    class="w-full py-10 p-5 max-w-[550px] flex flex-col sm:flex-row gap-2 items-center justify-center text-black dark:text-white"
  >
    <p>
      ¡Buenas! Me presento, soy Fullstack Developer con una pasión por aprender
      nuevas tecnologías y construir Aplicaciones Web. Actualmente busco
      desarrollarme como programador y poder aportar mis conocimientos en un
      equipo de trabajo.
    </p>
    <img class="w-20 h-20" src="/about/coding_2.svg" alt="" />
  </div>

  <div
    class="w-full p-5 max-w-[550px] flex flex-col sm:flex-row gap-2 items-center justify-center text-black dark:text-white"
  >
    <img class="w-20 h-20" src="/about/desktop_2.svg" alt="" />
    <p>
      Aprendo de forma autodidacta y me gusta trabajar en equipo. Me considero
      una persona responsable, proactiva y con muchas ganas de aprender. Me
      gusta estar en constante aprendizaje y mejorar mis habilidades.
    </p>
  </div>
</Layout>
