---
import HomeMenu from "../components/HomeMenu.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Emiliano Perez - Full Stack Developer">
  <div class="text-center">
    <h1 class="font-bold text-4xl sm:text-5xl text-white">Emiliano Perez</h1>
    <h2 class="font-thin text-2xl sm:text-4xl text-orange-400">
      Full Stack Developer
    </h2>
  </div>
  <HomeMenu />
</Layout>
