---
import Layout from "../layouts/Layout.astro";
import Card from "../components/ProjectCard.astro";
import Title from "../components/Title.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Technologies from "../components/Technologies.astro";
---

<Layout>
  <div class="w-full flex flex-col items-center justify-center gap-y-10">
    <Title />

    <Projects />

    <Technologies />

    <About />
  </div>
</Layout>
