---

---

<section
  class="section h-auto pt-20 p-4 w-full xl:w-[1120px] flex flex-col justify-center gap-5"
  id="sobre-mi"
>
  <h2
    class="text-4xl font-extrabold leading-tight tracking-tight text-orange-400 sm:text-5xl"
  >
    Sobre mí
  </h2>

  <div class="flex flex-col gap-5 font-normal">
    <p>
      Soy Fullstack Developer de Argentina, Buenos Aires, con pasión por
      aprender nuevas tecnologías y construir Aplicaciones Web. Actualmente
      imparto cursos en <span class="text-yellow-200">Coderhouse</span>, y
      algunas materias en <span class="text-blue-400">Escuela DaVinci</span> y Universidad
      de Palermo. También formo parte del equipo docente en
      <span class="text-orange-400">Coding Giants </span>, donde enseñamos
      programación a niños y adolescentes.
    </p>

    <p>
      Aprendo de forma autodidacta y me gusta trabajar en equipo. Me considero
      una persona responsable, proactiva y con muchas ganas de seguir
      aprendiendo. Me gusta estar en constante aprendizaje y mejorar mis
      habilidades.
    </p>
  </div>

  <div class="w-full flex justify-center items-center">
    <article class="w-80 text-center py-5 flex flex-col gap-5">
      <div class="flex flex-col text-xl md:text-2xl">
        ¿Te interesa contactarme?
        <span class="font-bold text-lg md:text-xl">¡Envíame un mail!</span>
      </div>
      <div
        class="bg-gray-800 flex justify-center gap-5 p-5 rounded-lg hover:bg-gray-600 cursor-pointer"
        data-tooltip-target="tooltip-click"
        data-tooltip-trigger="click"
        id="copy"
      >
        <img src="/icons/pointer.svg" class="w-6 animate-pulse" alt="" />
        emi.perez997@gmail.com
      </div>

      <div
        id="tooltip-click"
        role="tooltip"
        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700"
      >
        Copiado
        <div class="tooltip-arrow" data-popper-arrow></div>
      </div>
    </article>
  </div>
</section>

<script>
  const copy = document.querySelector("#copy");

  copy?.addEventListener("click", () => {
    navigator.clipboard.writeText("emi.perez997@gmail.com");
  });
</script>
