---

---

<footer
  class="bg-gray-800 h-auto p-4 w-full flex flex-col justify-center gap-5 items-center"
>
  <h4 class="font-extrabold leading-tight tracking-tight text-white">
    Hecho con ❤️ por <span class="text-orange-400">Emiliano Perez</span>
  </h4>
  <span
    class="text-sm font-medium me-2 px-2.5 py-0.5 rounded bg-blue-900 text-blue-300"
  >
    2024
  </span>
</footer>
