---

---

<section
  class="section pt-20 h-screen sm:h-[540px] text-center flex gap-5 flex-col items-center justify-center"
  id="inicio"
>
  <div>
    <h2
      class="text-4xl font-extrabold leading-tight tracking-tight text-white sm:text-5xl"
    >
      Emiliano Perez
    </h2>
    <p class="text-2xl text-orange-400 sm:text-3xl">Desarrollador Full Stack</p>
  </div>

  <p class="text-lg sm:text-xl">
    Profesor en <span class="text-orange-400" id="unis"></span>
  </p>

  <div class="flex flex-wrap justify-center gap-5">
    <a
      href="https://www.linkedin.com/in/emiliano-perez/"
      class="hover:bg-blue-900 text-sm font-medium me-2 px-2.5 py-0.5 rounded bg-blue-800 text-blue-200"
      target="_blank"
    >
      Linkedin
    </a>
    <a
      href="https://github.com/emiperez997"
      class="hover:bg-gray-800 text-sm font-medium me-2 px-2.5 py-0.5 rounded bg-gray-700 text-gray-300"
      target="_blank"
    >
      Github
    </a>
  </div>
</section>

<script>
  // @ts-ignore
  const typed = new Typed("#unis", {
    strings: [
      "Universidad de Palermo",
      "Coderhouse",
      "Escuela DaVinci",
      "Coding Giants",
    ],
    typeSpeed: 50,
    backSpeed: 50,
    loop: true,
  });
</script>
