---
import { ViewTransitions } from "astro:transitions";
import { NavMenu } from "../components/NavMenu";
import { locations } from "../utils/locations";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { pathname } = Astro.url;

console.log(pathname);
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class:list={[
      "w-screen pb-30 flex flex-col justify-center items-center gap-5 bg-gray-700 py-30 text-white",
      {
        "height-custom":
          pathname.includes("/about") || pathname.includes("/skills"),
      },
      {
        "h-screen":
          pathname === "/" ||
          pathname.includes("/contact") ||
          pathname.includes("/projects"),
      },
    ]}
  >
    <slot />
    <NavMenu client:only />
    <style is:global>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;700&display=swap");

      html {
        font-family: "Nunito", sans-serif;
        color-scheme: dark light;
      }

      .height-custom {
        height: calc(100vh + 5rem);
        padding: 5rem 0;
      }

      @media (height > 800px) {
        .height-custom {
          height: 100vh;
        }
      }
    </style>
  </body>
</html>
